/* Estilos generales para el grid de cómics */
.comics-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.comic-card {
  width: 100%; /* Las tarjetas ocuparán el espacio determinado por el grid */
  max-width: 250px; /* Limita el ancho máximo */
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  background-color: #f9f9f9;
  transition: transform 0.2s;
}

.comic-card img {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.comic-card h3 {
  font-size: 1.1em;
  margin: 10px 0;
  padding: 0 5px;
}

.comic-card button {
  margin: 5px;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  transition: background-color 0.3s;
}

.comic-card button:hover {
  background-color: #0056b3;
}

.detalle-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Asegúrate de que el z-index sea suficientemente alto */
  overflow: hidden;
}


.detalle-card {
  background-color: #fff;
  max-height: 90vh; /* Limita la altura al 90% de la pantalla */
  width: 60%; /* Ajusta el ancho de la tarjeta */
  overflow-y: auto; /* Hace que la tarjeta sea scrolleable */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  position: relative;
}

.detalle-header img {
  max-width: 100%;
  height: auto;
  max-height: 250px; /* Reduce el tamaño de la imagen principal */
  display: block;
  margin-bottom: 15px;
}

.detalle-header {
  text-align: center;
}

.detalle-content {
  margin-top: 15px;
  font-size: 1rem;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.close-button:hover {
  background-color: #c9302c;
}

.detalle-comic ul {
  list-style-type: none;
  padding-left: 0;
}

.detalle-comic li {
  margin-bottom: 5px;
}
